*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#111827,
#1e293b
);

color:white;
}

.login-box{

width:95%;
max-width:420px;

background:rgba(17,24,39,.95);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:30px;

box-shadow:
0 0 30px rgba(0,229,255,.15);

text-align:center;

backdrop-filter:blur(15px);

}

.logo{

width:90px;
height:90px;

border-radius:50%;

margin-bottom:15px;

border:3px solid #00e5ff;

box-shadow:
0 0 25px #00e5ff;

}

h1{

font-size:30px;
margin-bottom:5px;

}

p{

color:#94a3b8;
margin-bottom:25px;

}

input{

width:100%;

padding:15px;

margin-bottom:15px;

font-size:17px;

border:none;

outline:none;

border-radius:15px;

background:#1f2937;

color:white;

}

input::placeholder{

color:#94a3b8;

}

input:focus{

box-shadow:
0 0 15px #00e5ff;

}

button{

width:100%;

padding:15px;

margin-bottom:12px;

font-size:18px;

font-weight:bold;

border:none;

border-radius:15px;

cursor:pointer;

color:white;

background:
linear-gradient(
135deg,
#00e5ff,
#7c3aed
);

transition:.25s;

}

button:hover{

transform:translateY(-2px);

box-shadow:
0 0 20px #00e5ff;

}

button:active{

transform:scale(.98);

}

hr{

margin:22px 0;

border:none;

border-top:1px solid rgba(255,255,255,.08);

}

#recaptcha-container{

margin-bottom:15px;

}

@media(max-width:480px){

.login-box{

padding:22px;

}

.logo{

width:75px;
height:75px;

}

h1{

font-size:24px;

}

button{

font-size:16px;

}

input{

font-size:16px;

}

}