*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Segoe UI,sans-serif;
}


body{

min-height:100vh;

display:flex;
align-items:center;
justify-content:center;

background:#050505;

color:white;

}


.container{

width:90%;
max-width:400px;

padding:25px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.15);

text-align:center;

box-shadow:
0 0 30px rgba(0,255,255,.15);

}


h2{

margin-bottom:20px;

color:#00ffff;

}


input,select{

width:100%;

padding:12px;

margin-bottom:15px;

border-radius:12px;

border:none;

outline:none;

background:#111827;

color:white;

}


#qr{

background:white;

width:max-content;

margin:20px auto;

padding:10px;

border-radius:15px;

}


.buttons{

display:flex;

gap:10px;

flex-wrap:wrap;

}


button{

flex:1;

padding:12px;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:bold;

background:linear-gradient(
45deg,
#00e5ff,
#00ff99
);

}


button:hover{

transform:scale(1.05);

}
